.components-container{
   position: relative;
   min-height: 100vh;
   min-width: 100vw;

}
.components-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    backdrop-filter: blur(20px);
    background: inherit;
    width: 100%;
    z-index: -1;

}
.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}