
.tour-container{
    display: flex;
    justify-content: center;
    margin: 60px auto 0 auto;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;

 
 }
 .tour-container::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     backdrop-filter: blur(20px);
     background: inherit;
     width: 100%;
     z-index: -1;
 
 }
 .tour-holder{
   
    max-width: 800px;
    border: 1px solid gray;
    background-color: lightblue;
    padding: 1px;
 }
 .tour-img{
    width: 100%;
    object-fit: cover;
 }